.card__content {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
}

.card__title{
  color: #fff;
  margin: 0;
}

.card__counter{
  margin: 30px auto 0;
  color: #E50D22;
  font-size:  var( --font_button);
}

.card__img {
  width: 50%;
  min-width: 200px;
  max-width: 300px;
  margin: 30px auto 0;
}

.card__text {
  font-size: var(--font_text_q);
  line-height: 26px;
  text-align: center;
}

.card__button-cell{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card__button{
  min-height: 42px;
  border: none;
  padding: 0;
  border-radius: 8px;
  width: 45%;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

.card__button_green{
  background-color: #2aca53;
}

.card__button_green:hover{
  background-color: #26ad48;
}

.card__button_red{
  background-color: #e50d22;
}

.card__button_red:hover{
  background-color: #bb0f20;
}